Practicals/INS/
/Codes/INS/P9/practical9/target/
/Codes/Web Services/p7/nbproject/private/
/Codes/Web Services/p7/build/
/Codes/Web Services/p6/nbproject/private/
/Codes/Web Services/p6/build/
/Codes/Web Services/p6_consumer/nbproject/private/
/Codes/Web Services/p6_consumer/build/
/Codes/Web Services/p9/nbproject/private/
/Codes/Web Services/p9_cclient/nbproject/private/
/Codes/Web Services/p9/build/
/Codes/Web Services/p9/dist/
/Codes/Web Services/p9_cclient/build/
/Codes/Web Services/p9_n2_server/nbproject/private/
/Codes/Web Services/p9_n2_server/build/
/Codes/Web Services/p9_n2_server/dist/
/Codes/Web Services/p9_n2_client/nbproject/private/
/Codes/Web Services/p9_n2_client/build/