<div class="text-center">
  <h1>Sidebars</h1>
  <h3 class="text-body-secondary">Click "Use" to switch the sidebar</h3>
</div>
<div class="b-example-divider"></div>
<div class="d-flex flex-nowrap justify-content-center">
  <div class="b-example-divider b-example-vr"></div>
  <app-sidebar-type1></app-sidebar-type1>
  <div class="b-example-divider b-example-vr"></div>
  <app-sidebar-type2></app-sidebar-type2>
  <div class="b-example-divider b-example-vr"></div>
  <app-sidebar-type3></app-sidebar-type3>
  <div class="b-example-divider b-example-vr"></div>
  <app-sidebar-type4></app-sidebar-type4>
  <div class="b-example-divider b-example-vr"></div>
</div>
