<div class="text-center">
  <h1>Navbars</h1>
  <h3 class="text-body-secondary">Click "Use" to switch the navbar</h3>
</div>
<div class="b-example-divider"></div>
<app-header-type1 [showUseButton]="true"></app-header-type1>
<div class="b-example-divider"></div>
<app-header-type2 [showUseButton]="true"></app-header-type2>
<div class="b-example-divider"></div>
<app-header-type3 [showUseButton]="true"></app-header-type3>
<div class="b-example-divider"></div>
<app-header-type4 [showUseButton]="true"></app-header-type4>
<div class="b-example-divider"></div>
