<div class="container">
  <div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-4 fw-bold text-body-emphasis">
      This is the demo for menu bars
    </h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">
        Explore our diverse collection of menu bar designs, tailored for every type of website. Whether you're crafting a sleek corporate site or a vibrant portfolio, our demos showcase innovative solutions that enhance user experience. Dive in and find the perfect menu style to elevate your project!
      </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
        <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3">
          <a routerLink="/navbarpage" class="nav-link" routerLinkActive="active">
            Navbars</a
          >
        </button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">
          <a routerLink="/sidebarpage" class="nav-link" routerLinkActive="active">
            Sidebars</a
          >
        </button>
      </div>
    </div>
    <div class="overflow-hidden" style="max-height: 30vh">
      <div class="container px-5">
        <img
          src="mainback.png"
          class="img-fluid border rounded-3 shadow-lg mb-4"
          alt="Example image"
          width="700"
          height="500"
          loading="lazy"
        />
      </div>
    </div>
  </div>
</div>
