<div
  class="d-flex flex-column flex-shrink-0 bg-body-tertiary vh-100 border-end"
  style="width: 4.5rem"
>
  <a
    href="/"
    class="d-block p-3 link-body-emphasis text-decoration-none"
    data-bs-toggle="tooltip"
    data-bs-placement="right"
    data-bs-original-title="Icon-only"
  >
    <svg class="bi pe-none" width="40" height="32">
      <use xlink:href="#bootstrap"></use>
    </svg>
    <span class="visually-hidden">Icon-only</span>
  </a>
  <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
    <li class="nav-item">
      <a
        href="#"
        class="nav-link active py-3 border-bottom rounded-0"
        aria-current="page"
        data-bs-toggle="tooltip"
        data-bs-placement="right"
        aria-label="Home"
        data-bs-original-title="Home"
      >
        <img src="icon_home.png" alt="home_icon" width="32" />
      </a>
    </li>
    <li>
      <a
        href="#"
        class="nav-link py-3 border-bottom rounded-0"
        data-bs-toggle="tooltip"
        data-bs-placement="right"
        aria-label="Dashboard"
        data-bs-original-title="Dashboard"
      >
        <img src="icon_speed.png" alt="home_speed" width="32" />
      </a>
    </li>
    <li>
      <a
        href="#"
        class="nav-link py-3 border-bottom rounded-0"
        data-bs-toggle="tooltip"
        data-bs-placement="right"
        aria-label="Orders"
        data-bs-original-title="Orders"
      >
        <img src="icon_calender.png" alt="home_calender" width="32" />
      </a>
    </li>
    <li>
      <a
        href="#"
        class="nav-link py-3 border-bottom rounded-0"
        data-bs-toggle="tooltip"
        data-bs-placement="right"
        aria-label="Products"
        data-bs-original-title="Products"
      >
        <img src="icon_widgets.png" alt="home_widgets" width="32" />
      </a>
    </li>
    <li>
      <a
        href="#"
        class="nav-link py-3 border-bottom rounded-0"
        data-bs-toggle="tooltip"
        data-bs-placement="right"
        aria-label="Customers"
        data-bs-original-title="Customers"
      >
        <img src="icon_profile.png" alt="icon_profile" width="32" />
      </a>
    </li>
    <button
      type="button"
      class="btn btn-success btn-sm mt-4"
      (click)="changeSidebar()"
    >
      Use This
    </button>
  </ul>
  <div class="dropdown border-top">
    <a
      href="#"
      class="d-flex align-items-center justify-content-center p-3 link-body-emphasis text-decoration-none dropdown-toggle"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      <img
        src="https://github.com/mdo.png"
        alt="mdo"
        width="24"
        height="24"
        class="rounded-circle"
      />
    </a>
    <ul class="dropdown-menu text-small shadow">
      <li><a class="dropdown-item" href="#">New project...</a></li>
      <li><a class="dropdown-item" href="#">Settings</a></li>
      <li><a class="dropdown-item" href="#">Profile</a></li>
      <li><hr class="dropdown-divider" /></li>
      <li><a class="dropdown-item" href="#">Sign out</a></li>
    </ul>
  </div>
</div>
