<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ConsoleApp1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <ConsoleApp1.Properties.Settings>
            <setting name="ConsoleApp1_evenoddwebs_defaultmain" serializeAs="String">
                <value>http://localhost:50438/defaultmain.asmx</value>
            </setting>
        </ConsoleApp1.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="defaultmainSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50438/defaultmain.asmx" binding="basicHttpBinding"
                bindingConfiguration="defaultmainSoap" contract="defaultmain.defaultmainSoap"
                name="defaultmainSoap" />
        </client>
    </system.serviceModel>
</configuration>